{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}E-mail envoyé - Beehave{% endblock %}</title>
	{% block urls %}<link rel="stylesheet" type="text/css" href="{% static 'accounts/stylereset.css' %}">{% endblock %}
</head>
<body>
	{% block section %}
	<div class='page'>
		<div class='outer-form'>
			<h1>E-mail de réinitialisation du mot de passe envoyé</h1>
			<p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez entré. Vous devriez le recevoir sous peu.
			Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.</p>
		</div>
	</div>
	{% endblock %}
</body>
</html>