{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Mot de passe réinitialisé - Beehave{% endblock %}</title>
	{% block urls %}<link rel="stylesheet" type="text/css" href="{% static 'accounts/stylereset.css' %}">{% endblock %}
</head>
<body>
	{% block section %}
	<div class='page'>
		<div class='outer-form'>
			<h1>Mot de passe réinitialisé avec succès</h1>
			<p>Votre mot de passe a été réinitialisé, veuillez maintenant vous connecter avec ce nouveau mot de passe pour accéder à votre compte.</p>
			<a href="{% url 'loginPage' %} " class='btn bg-warning text-light'>Se connecter</a>
		</div>
	</div>
	{% endblock %}
</body>
</html>