{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Réinitialiser votre mot de passe - Beehave{% endblock %}</title>
	{% block urls %}<link rel="stylesheet" type="text/css" href="{% static 'accounts/stylereset.css' %}">{% endblock %}
</head>
<body>
	{% block section %}
	<div class='page'>
		<div class='outer-form'>
			<h3>Mot de passe oublié ?</h3>
			
			<p>Rentrez votre adresse email ci-dessous et nous vous
			enverrons des instructions pour le réinitialiser !</p>

			<form method = 'POST'>
				{% csrf_token %}
				<div class='field'>
					<p class='label'>Email</p>
					{{form.email}}
				</div>
				
				<input type="submit" value="M'envoyer un email" class='btn bg-warning text-light'>
			</form>
		</div>
	</div>
	{% endblock %}
</body>
</html>