{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}E-mail envoyé - Beehave{% endblock %}</title>
</head>
<body>
	{% block section %}
		<h3>E-mail de réinitialisation du mot de passe envoyé</h3>
		<p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez entré. Vous devriez les recevoir sous peu.
		Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.</p>
	{% endblock %}
</body>
</html>