{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Gestion des comptes - BeeHave{% endblock %}</title>
</head>
<body>
	{% block section %}
		{% for message in messages %}
		{{message}}
		{% endfor %}

		<h3>Vos informations personnelles</h3>
		<p>Email</p><b>{{email}}</b><br><br>
		<p>Prénom</p><b>{{first_name}}</b><br><br>
		<p>Sexe</p><b>{{gender}}</b><br><br>
		<p>Sexe recherché</p><b>{{wish_gender}}</b>
		
		<br><br>

		<a href="{% url 'editProfile' %}">Modifier votre profil</a><br>
		<a href="{% url 'editPassword' %}">Changer votre mot de passe</a><br>
		<a href="{% url 'logoutUser' %}">Se déconnecter</a><br>
		<a href="{% url 'password_reset' %}">Réinitialiser votre mot de passe</a><br>

		<br>
		
		<img src="{% static "accounts/noirblanc.png" %}"  alt = "logobeehave">
	{% endblock %}
</body>
</html>