{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}S'inscrire - Beehave{% endblock %}</title>
	{% block urls %}
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
	<script src= "https://kit.fontawesome.com/a076d05399.js" type="text/javascript"></script>
	{% endblock %}
</head>
<body>
	{% block section %}
	<div class='page'>
		<div class='form-outer'>
			<h1>S'inscrire</h1>
			{{form.errors}}
			<div class='progressing-bar'>
				<div class='step'>
					<p>Vous</p>
					<div class='bullet' id="bullet1">
						<span>1</span>
					</div>
					<div class='check fas fa-check'></div>
				</div>
				<div id="contact" class='step'>
					<p>Contact</p>
					<div class='bullet'>
						<span>2</span>
					</div>
					<div class='check fas fa-check'></div>
				</div>
				<div id="personnalite" class='step'>
					<p >Personnalité</p>
					<div class='bullet'>
						<span>3</span>
					</div>
					<div class='check fas fa-check'></div>
				</div>
			</div>
			<form action = "" method = 'POST' class='form'>
				
				{%csrf_token%}

				<div class='formpage1'>
					<h3 class='title'>Informations Personnelles</h3>				
					<div class='field'>
						<div class='label'>Prénom</div>
						{{form.first_name}}
					</div>
					<div class='field'>
						<div class='label'>Date de naissance<br></div>
						{{form.birthday}}
					</div>
					<div class='field'>
						<div class='label'>Vous êtes</div>
						{{form.gender}}
					</div>
					
					<div class='field'>
						<div class='label'>Vous souhaitez rencontrer</div>
						{{form.wish_gender}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn next-1 next'>Suivant</button>
					</div><br>
				</div>


				<div class='formpage2'>
					<h3 class='title'>Informations de contact</h3>
					<div class='field'>
						<div class='label'>E-mail</div>
						{{form.email}}
					</div>
					<div class='field'>
						<div class='label'>Mot de passe</div>
						{{form.password1}}
					</div>
					<div class='field'>
						<div class='label'>Confirmation du mot de passe</div>
						{{form.password2}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn prev-1 prev'>Précédent</button>
						<button class = 'btn next-2 next'>Suivant</button>
					</div><br>
				</div>

				<div class='formpage3'>
					<h3 class='title'>Personnalité</h3>
					<h5 class='subtitle'>Ouverture à l'expérience (1/5)</h5>
					<div class='field'>
						<div class='label'>J'aime sortir, rencontrer de nouvelles personnes et passer de soirée en soirée.</div>
						{{form.o1}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.o2}}
					</div>
					<div class='field'>
						<div class='label'>J'aime le sport, les sensations fortes, pratiquer toujours plus d'activités et passer du temps à m'entraîner.</div>
						{{form.o3}}
					</div>
					<div class='field'>
						<div class='label'>J'aime la culture, la musique, voyager et découvir sans cesse de nouveaux endroits.</div>
						{{form.o4}}
					</div>
					<div class='field'>
						<div class='label'>J'aime le bricolage, la création artistique, les activités manuelles, le jardinage et essaye de rendre le monde plus joli.</div>
						{{form.o5}}
					</div>
					<div class='field'>
						<div class='label'>J'aime le bricolage, la création artistique, les activités manuelles, le jardinage et essaye de rendre le monde plus joli.</div>
						{{form.o6}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn prev-2 prev'>Précédent</button>
						<button class = 'btn next-3 next'>Suivant</button>
					</div><br>
				</div>

				<div class='formpage4'>
					<h3 class='title'>Personnalité</h3>
					<h5 class='subtitle'>Conscienciosité (2/5)</h5>
					<div class='field'>
						<div class='label'>J'aime la culture, la musique, voyager et découvir sans cesse de nouveaux endroits.</div>
						{{form.c1}}
					</div>
					<div class='field'>
						<div class='label'>J'aime le sport, les sensations fortes, pratiquer toujours plus d'activités et passer du temps à m'entraîner.</div>
						{{form.c2}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.c3}}
					</div>
					<div class='field'>
						<div class='label'>J'aime sortir, rencontrer de nouvelles personnes et passer de soirée en soirée.</div>
						{{form.c4}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.c5}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.c6}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn prev-3 prev'>Précédent</button>
						<button class = 'btn next-4 next'>Suivant</button>
					</div><br>
				</div>

				<div class='formpage5'>
					<h3 class='title'>Personnalité</h3>
					<h5 class='subtitle'>Extraversion (3/5)</h5>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.e1}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.e2}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.e3}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.e4}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.e5}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.e6}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn prev-4 prev'>Précédent</button>
						<button class = 'btn next-5 next'>Suivant</button>
					</div><br>
				</div>

				<div class='formpage6'>
					<h3 class='title'>Personnalité</h3>
					<h5 class='subtitle'>Agréabilité (4/5)</h5>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.a1}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.a2}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.a3}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.a4}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.a5}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.a6}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn prev-5 prev'>Précédent</button>
						<button class = 'btn next-6 next'>Suivant</button>
					</div><br>
				</div>

				<div class='formpage7'>
					<h3 class='title'>Personnalité</h3>
					<h5 class='subtitle'>Névrosité (5/5)</h5>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.n1}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.n2}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.n3}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.n4}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.n5}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.n6}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = ' btn prev-6 prev'>Précédent</button>
						<input type="Submit" name="Valider" class='btn submit'>
					</div><br>
				</div>			
				
			</form>
			<p>Vous êtes déjà inscrit ? <a id="a" href="../login">Connectez-vous</a></p>
		</div>	
	</div>
	<script src="{% static 'accounts/script.js' %}"></script>
	{% endblock %}

</body>
</html>