{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}S'inscrire - Beehave{% endblock %}</title>
	{% block urls %}
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
	<script src= "https://kit.fontawesome.com/a076d05399.js" type="text/javascript"></script>
	{% endblock %}
</head>
<body>
	{% block section %}
	<div class='page'>
		<video src="{% static 'accounts/jumbotronvideo3.mp4' %}" autoplay loop muted playsinline></video>
		<div class='form-outer'>
			<h1>S'inscrire</h1>
			{{form.errors}}
			<div class='progressing-bar'>
				<div id ='vous' class='step'>
					<p>Vous</p>
					<div class='bullet' id="bullet1">
						<span>1</span>
					</div>
					<div class='check fas fa-check'></div>
				</div>
				<div id="contact" class='step'>
					<p>Contact</p>
					<div class='bullet'>
						<span>2</span>
					</div>
					<div class='check fas fa-check'></div>
				</div>
				<div id="pers" class='step'>
					<p>Personnalité</p>
					<div class='bullet'>
						<span>3</span>
					</div>
					<div class='check fas fa-check'></div>
				</div>
				<div id="pers-ouverture" class='step'>
					<p >Ouverture</p>
					<div class='bullet'>
						<span>4</span>
					</div>
					<div class='check fas fa-check'></div>
				</div>
				<div id="pers-conscience" class='step'>
					<p >Conscience</p>
					<div class='bullet'>
						<span>5</span>
					</div>
					<div class='check fas fa-check'></div>
				</div>
				<div id="pers-extra" class='step'>
					<p >Extraversion</p>
					<div class='bullet'>
						<span>6</span>
					</div>
					<div class='check fas fa-check'></div>
				</div>
				<div id="pers-agrea" class='step'>
					<p>Agréabilité</p>
					<div class='bullet'>
						<span>7</span>
					</div>
					<div class='check fas fa-check'></div>
				</div>
				<div id="pers-nevro" class='step'>
					<p >Névrosité</p>
					<div class='bullet'>
						<span>8</span>
					</div>
					<div class='check fas fa-check'></div>
				</div>
			</div>
			<form action = "" method = 'POST' class='form'>
				
				{%csrf_token%}

				<div class='formpage1'>
					<h3 class='title'>Informations Personnelles</h3>				
					<div class='field'>
						<div class='label'>Prénom</div>
						{{form.first_name}}
					</div>
					<div class='field'>
						<div class='label'>Date de naissance<br></div>
						{{form.birthday}}
					</div>
					<div class='field'>
						<div class='label'>Vous êtes</div>
						{{form.gender}}
					</div>
					
					<div class='field'>
						<div class='label'>Vous souhaitez rencontrer</div>
						{{form.wish_gender}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn next-1 next'>Suivant</button>
					</div><br>
				</div>


				<div class='formpage2'>
					<h3 class='title'>Informations de contact</h3>
					<div class='field'>
						<div class='label'>E-mail</div>
						{{form.email}}
					</div>
					<div class='field'>
						<div class='label'>Mot de passe</div>
						{{form.password1}}
					</div>
					<div class='field'>
						<div class='label'>Confirmation du mot de passe</div>
						{{form.password2}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn prev-1 prev'>Précédent</button>
						<button class = 'btn next-2 next'>Suivant</button>
					</div><br>
				</div>

				<div class='formpage3'>
					<p id="explications">Veuillez répondre au questionnaire qui suit en inscrivant un chiffre de 1 à 5, selon l'échelle suivante. <br><br><span style="color : #F99999; font-size : 13px;"> 1 (Pas du tout d'accord) / 2 (Pas spécialement d'accord) / 3 (Ni en accord ni en désaccord) / 4 (Plutôt d'accord) / 5 (Totalement d'accord) </span><br><br> Soyez le plus franc possible même si vous n'aimez pas la réponse : il n'y a pas de mauvaise personnalité ! Ce questionnaire nous aidera à mieux vous connaître pour vous proposer les meilleures rencontres possibles. Pour plus d'informations sur le processus, consultez notre rubrique <a href="#" class='a'>Comment ça marche ?</a>.<br>
					<div class='fields-btns'>
						<button class = 'btn prev-2 prev'>Précédent</button>
						<button class = 'btn next-3 next'>Commencer</button>
					</div><br>
				</div>

				<div class='formpage4'>
					<h3 class='title'>Personnalité</h3>
					<h5 class='subtitle'>Ouverture à l'expérience</h5>
					<div class='field'>
						<div class='label'>J'aime sortir, rencontrer de nouvelles personnes et passer de soirée en soirée.</div>
						{{form.o1}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.o2}}
					</div>
					<div class='field'>
						<div class='label'>J'aime le sport, les sensations fortes, pratiquer toujours plus d'activités et passer du temps à m'entraîner.</div>
						{{form.o3}}
					</div>
					<div class='field'>
						<div class='label'>J'aime la culture, la musique, voyager et découvir sans cesse de nouveaux endroits.</div>
						{{form.o4}}
					</div>
					<div class='field'>
						<div class='label'>J'aime le bricolage, la création artistique, les activités manuelles, le jardinage et essaye de rendre le monde plus joli.</div>
						{{form.o5}}
					</div>
					<div class='field'>
						<div class='label'>J'aime le bricolage, la création artistique, les activités manuelles, le jardinage et essaye de rendre le monde plus joli.</div>
						{{form.o6}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn prev-3 prev'>Précédent</button>
						<button class = 'btn next-4 next'>Suivant</button>
					</div><br>
				</div>

				<div class='formpage5'>
					<h3 class='title'>Personnalité</h3>
					<h5 class='subtitle'>Conscience</h5>
					<div class='field'>
						<div class='label'>J'aime la culture, la musique, voyager et découvir sans cesse de nouveaux endroits.</div>
						{{form.c1}}
					</div>
					<div class='field'>
						<div class='label'>J'aime le sport, les sensations fortes, pratiquer toujours plus d'activités et passer du temps à m'entraîner.</div>
						{{form.c2}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.c3}}
					</div>
					<div class='field'>
						<div class='label'>J'aime sortir, rencontrer de nouvelles personnes et passer de soirée en soirée.</div>
						{{form.c4}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.c5}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.c6}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn prev-4 prev'>Précédent</button>
						<button class = 'btn next-5 next'>Suivant</button>
					</div><br>
				</div>

				<div class='formpage6'>
					<h3 class='title'>Personnalité</h3>
					<h5 class='subtitle'>Extraversion</h5>
					<div class='field'>
						<div class='label'>J'aime la culture, la musique, voyager et découvir sans cesse de nouveaux endroits.</div>
						{{form.e1}}
					</div>
					<div class='field'>
						<div class='label'>J'aime le sport, les sensations fortes, pratiquer toujours plus d'activités et passer du temps à m'entraîner.</div>
						{{form.e2}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.e3}}
					</div>
					<div class='field'>
						<div class='label'>J'aime sortir, rencontrer de nouvelles personnes et passer de soirée en soirée.</div>
						{{form.e4}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.e5}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.e6}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn prev-5 prev'>Précédent</button>
						<button class = 'btn next-6 next'>Suivant</button>
					</div><br>
				</div>

				<div class='formpage7'>
					<h3 class='title'>Personnalité</h3>
					<h5 class='subtitle'>Agréabilité</h5>
					<div class='field'>
						<div class='label'>J'aime la culture, la musique, voyager et découvir sans cesse de nouveaux endroits.</div>
						{{form.a1}}
					</div>
					<div class='field'>
						<div class='label'>J'aime le sport, les sensations fortes, pratiquer toujours plus d'activités et passer du temps à m'entraîner.</div>
						{{form.a2}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.a3}}
					</div>
					<div class='field'>
						<div class='label'>J'aime sortir, rencontrer de nouvelles personnes et passer de soirée en soirée.</div>
						{{form.a4}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.a5}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.a6}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = 'btn prev-6 prev'>Précédent</button>
						<button class = 'btn next-7 next'>Suivant</button>
					</div><br>
				</div>

				<div class='formpage8'>
					<h3 class='title'>Personnalité</h3>
					<h5 class='subtitle'>Névrosité</h5>
					<div class='field'>
						<div class='label'>J'aime la culture, la musique, voyager et découvir sans cesse de nouveaux endroits.</div>
						{{form.n1}}
					</div>
					<div class='field'>
						<div class='label'>J'aime le sport, les sensations fortes, pratiquer toujours plus d'activités et passer du temps à m'entraîner.</div>
						{{form.n2}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.n3}}
					</div>
					<div class='field'>
						<div class='label'>J'aime sortir, rencontrer de nouvelles personnes et passer de soirée en soirée.</div>
						{{form.n4}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.n5}}
					</div>
					<div class='field'>
						<div class='label'>J'aime m'impliquer dans une association, aller au contact de ceux qui sont dans le besoin et passer un peu de mon temps libre à les aider.</div>
						{{form.n6}}
					</div>
					<br>
					<div class='fields-btns'>
						<button class = ' btn prev-7 prev'>Précédent</button>
						<input type="Submit" name="Valider" class='btn submit'>
					</div><br>
				</div>			
				
			</form>
			<p>Vous êtes déjà inscrit ? <a class='a' href="../login">Connectez-vous</a></p>
		</div>	
	</div>
	<script src="{% static 'accounts/script.js' %}"></script>
	{% endblock %}

</body>
</html>