#abeille
{
	width: 80px;
}

#textebeehave
{
	width: 140px;
}

#a
{
	margin-left: 10px;
	color : #F4AD0E;
}

#a:hover
{
	text-decoration: none;	
	background-color: rgba(0, 0, 0, 0.2);
	color : #F99999;
}

.btn
{
	background-color: rgba(0, 0, 0, 0.1);

}