.page
{	
	text-align: center;
	background-image: -webkit-linear-gradient(bottom,#FEE501, #F0AD4E);
	margin-right: -15px;
	margin-left: -15px;
	display: flex;
	justify-content: center;	
}	
	
.outer-form
{
	width: 600px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #FFF;
	border-radius: 8px;
}

form 
{
	width:100%;
	justify-content: center 
}

.field
{
	margin : 20px;
	position : relative;
}

.label
{
	font-weight: 600;
}

input
{
	padding-left: 10px;
	border-radius: 5px;
	font-weight: 600;
}

#btn
{
	margin-left: 10px;
}

#cancel
{
	margin-right: 10px;
}