.page
{	
	text-align: center;
	
	margin-right: -15px;
	margin-left: -15px;
	display: flex;
	justify-content: center;

}

.form-outer
{
	width: 600px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	color : #fff;
}

.field
{
	margin : 20px;
	position : relative;
}

.label
{
	font-weight: 600;
	position:relative;
}

.input
{
	padding-left: 10px;
	border-radius: 15px;
	font-weight: 600;
	border : 3px solid #F0AD4E;
}

a
{
	color : #F0AD4E;
}

a:hover
{
	color : #F99999;
	text-decoration: none;
}

.btn:hover
{
	color : #F99999;

}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  video {
    height: 110%;
    top: -10%;
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    width: 300%;
    left: -100%;
  }
}