.page
{	
	text-align: center;
	background-image: -webkit-linear-gradient(bottom,#FEE501, #F0AD4E);
	margin-right: -15px;
	margin-left: -15px;
	display: flex;
	justify-content: center;	
}	
	
.form-outer
{
	width: 1100px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 70px;
	background-color: #FFF;
	border-radius: 8px;


}

form 
{
	display: flex;
	width:100%;
	justify-content: center 

}

.formpage1, .formpage2, .formpage3, .formpage4, .formpage5, .formpage6, .formpage7
{
	transition : margin-left 1s ease-in-out;
}

.field
{
	margin : 20px;
	position : relative;
}

.label
{
	font-weight: 600;
}

input
{
	padding-left: 10px;
	border-radius: 5px;
	font-weight: 600;
}

.input
{
	padding-left: 10px;
	border-radius: 5px;
	font-weight: 600;
}

button:hover
{
	color: #F99999;
}

.progressing-bar
{
	display: flex;
	justify-content: center;
	width: 100%;
}	

.progressing-bar .step
{
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 10px;
	margin-left: 10px;
	position : relative ;
	text-align: center ;
}


#vous
{
	margin-left: 32px;
}

#contact
{
	margin-left: 50px;
}

#pers
{
	margin-left: 17px;
}

#pers-ouverture
{
	margin-left: 8px;
}

#pers-conscience
{
	margin-left: 12px;

}

#pers-extra
{
	margin-left: 3px;
}

#pers-agrea
{
	margin-left: 4px;
}

#pers-nevro
{
	margin-left: 14px;
}



.progressing-bar .step p
{
	font-weight: 600;
	font-size : 18px;

}

.progressing-bar .step .bullet
{
	height: 25px;
	width: 25px;
	border : 2px solid #000;
	display: inline-block;
	border-radius: 50%;
	position : relative;
	transition : 0.2s ;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
}

.progressing-bar .step .bullet.active
{
	border-color: #FEF287;
	background-color: #FEF287;

}
.progressing-bar .step .bullet span
{
	
	position : absolute ;
	left : 51%;
	top : -3px;
	transform: translateX(-50%);
	
}

.progressing-bar .step .bullet.active span
{
	display:none;
}


.progressing-bar .step .bullet:before,
.progressing-bar .step .bullet:after
{
	position: absolute;
	content : '';
	bottom : 9px;
	left: 30px;
	height: 3px;
	width: 70px;
	background : #000;
}

.progressing-bar .step .bullet.active:after
{
	transform: scaleX(0);
	transform-origin: left;
	animation: animate 0.5s linear forwards;
	background : #FEF287;
}

@keyframes animate
{
	100%
	{
		transform : scaleX(1);
	}
}

.progressing-bar .step:last-child .bullet:before,
.progressing-bar .step:last-child .bullet:after
{
	display: none;
}

.progressing-bar .step p.active
{
	color :#FEF287 ;
	transition : 0.2s linear ;
}

.progressing-bar .step .check
{
	position: absolute;
	left : 50%;
	top: 80%;
	font-size: 15px;
	transform : translate(-50%, -50%);
	display : none;

}

.progressing-bar .step .check.active
{
	display : block;
	color : #fff;
}

.a
{
	color : #F0AD4E;
}

.a:hover
{
	color : #F99999;
	text-decoration: none;
}

#explications
{
	font-weight: 600
}
