{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Accueil - BeeHave {% endblock %}</title>
	{% block urls %}
		<link rel="stylesheet" type="text/css" href="{% static 'pages/style2.css' %}">
	{% endblock %}
</head>
<body>
	{% block section %}
	<section>
		<div class='outer-container'>
			<div class='video-container'>
				<video poster = "{% static 'pages/posterjumbotronvideo2.png'%}" src="{% static 'pages/jumbotronvideo2.mp4' %}" autoplay loop muted playsinline></video>
			</div>
			<div class='overlay'>	
			</div>
			<div class='text'>
				<h1 class='titre' style="
					font-size: 6vw;
				">Adieu au superficiel</h1>
				<p>Nous créons des couples qui durent, basés sur la personnalité, allant plus loin que les apparences.</p>
			</div>
		</div>
	</section>	
	{% endblock %}


</body>
</html>